*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    height: 100vh ;
    justify-content: center;
    align-items: center;
    display: flex;
}
.container{
    width: 300px;
    height: auto;
    box-sizing: border-box;
    box-shadow: 0 5px 50px rgba(0, 0, 0,0.5)
}
 .container .image{
     width: 100%;
     height: 200px;
     background:linear-gradient(to bottom,rgba(0, 0, 0,0.7),rgba(0, 0, 0, 0.7)), url(../img/tomato.jpeg);
     background-size: cover;
     padding: 20px;
     box-sizing: border-box;
 }
 .container .image h2{
     margin: 0px;
     padding: 0px;
     color: white;
     text-shadow: 0 2px 2px rgba(0, 0, 0,0.2);
 }
 .container .image h3{
    margin: 0px;
    padding: 0px;
    color: white;
   letter-spacing: 1px;
   margin-top: 3px;
   text-shadow: 0 2px 2px rgba(0, 0, 0,0.2);
}


.grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    box-sizing: border-box;
}
.grid div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    color: #262626;
    font-weight: 700;
}
.grid div:first-child{
    color: crimson;
}
.grid .date:nth-child(7n + 1){
    color: crimson;
}
.grid div.date.active{
    background: #262626;
    color: white;
    font-weight: 700;
    cursor: pointer;
}



